@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid-2-columns,
  .grid-3-columns,
  .grid-4-columns {
    grid-template-columns: 1fr !important;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-introduction {
    font-size: 2.6rem;
    line-height: 1.4;
    margin-bottom: 0;
  }

  .button,
  .button:link,
  .button:visited {
    display: inline-block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    padding: 2rem;
  }

  .heading-primary {
    font-size: 4rem;
  }

  .hero-img {
    width: 80%;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    flex-wrap: nowrap;
  }

  .header .logo {
    height: 5.2rem;
    max-width: 75%;
  }

  .header .button {
    font-size: 1.8rem;
    padding: 1.2rem 1.8rem;
    margin-right: -10rem;
    width: auto;
    white-space: nowrap;
  }

  .section-quote {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .logo-footer {
    display: flex;
    justify-content: center;
    margin: 2rem auto 0;
  }

  .logo-footer .logo {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
  }

  .me-img {
    display: block;
    margin: auto;
    width: 40%;
    max-width: 100%;
    height: auto;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr !important;
  }

  .footer {
    padding: 2rem 0rem;
  }

  .footer-nav,
  .footer-button-container,
  .footer-contact {
    grid-column: auto !important;
    justify-self: center;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .footer-list {
    margin: 2rem auto 0;
    padding: 0;
    text-align: center;
  }

  .footer-item {
    margin-bottom: 2rem;
    word-break: break-word;
  }

  .footer-link {
    text-align: center;
  }

  html,
  body {
    overflow-x: hidden;
    max-width: 100%;
  }
}
