/*import af fonte:*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Mukta+Malar&family=Outfit:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Mukta+Malar&family=Outfit:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Mukta+Malar:wght@400;500;600;700;800&family=Outfit:wght@700;800;900&family=Rubik:wght@400;500;600;700&display=swap");

/***********************************************/
/*GENEREL STYLING*/
/***********************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Mukta Malar";
  line-height: 1;
  font-weight: 400;
  color: #141f23;
  overflow-x: hidden !important;
  background: linear-gradient(to right, #3ab19b, #4cbf91);
}

.container {
  /*1140px*/
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.4rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-columns {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5-columns {
  grid-template-columns: repeat(5, 1fr);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  color: #11232a;
  font-family: "Montserrat";
}
h1 {
  font-size: 4.8rem;
  line-height: 1.05;
  margin-bottom: 4.2rem;
}
h2 {
  font-size: 4rem;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  margin-top: 6.2rem;
}
h3 {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 2.6rem;
}
h4 {
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 500;
}
h5 {
  font-size: 2rem;
  line-height: 1.2;
  font-style: italic;
  font-weight: 400;
}

p {
  color: #11232a;
  font-size: 1.6rem;
  font-family: "Mukta Malar";
  line-height: 1.6;
}

.bold {
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.semi-bold {
  font-weight: 600;
}

.button,
.button:link,
.button:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.4rem 2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  transition: all 0.6s;
}

.button:link,
.button:visited {
  background: linear-gradient(To right, #e0218a, #e64da1);
  /* for at tilføje en border indvendigt */
  box-shadow: inset #e0218a 0 0 0 2px;
  color: #ffffff;
  font-family: "Montserrat", "Mukta Malar", sans-serif;
}
.button:hover,
.button:active {
  background-color: #eeee;
  box-shadow: inset #11232a 0 0 4px;
  color: #11232a;
  font-family: "Montserrat", "Mukta Malar", sans-serif;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  text-align: left;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #11232a;
  padding-top: 0.6rem;
}

/*hjælper CLASSES*/
/* .margin-right {
  margin-right: 1.6rem !important;
}
.margin-bottom {
  margin-bottom: 4.8rem !important;
}
.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
} */

.chevron-icon-container {
  text-align: center;
  margin-bottom: 0rem;
}
/* Animation for pil ned der blinker*/
.chevron-icon {
  font-size: 3rem;
  color: #e0218a;
  animation: blinkChevron 4s linear infinite;
  position: relative;
  top: 1rem;
}
/* Fra synlig til ikke synlig ved hjælp af opacity*/
@keyframes blinkChevron {
  100%,
  100% {
    opacity: 0;
  }
  0%,
  0% {
    opacity: 1;
  }
}

/***********************************************/
/*HEADER*/
/***********************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #3ab19b, #4cbf91);
  height: 8rem;
  padding: 0rem 2.4rem;
  position: relative;
  color: #fff;
}
.cases-html .header {
  background: linear-gradient(to right, #3ab19b, #4cbf91);
}
.fys-case-html .header {
  background: linear-gradient(to right, #3ab19b, #4cbf91);
}
.dyre-case-html header {
  background: linear-gradient(to right, #3ab19b, #4cbf91);
}
.food-case-html header {
  background: linear-gradient(to right, #3ab19b, #4cbf91);
}

/*Dette herunder er for at det er tydeligt hvor man er, så er det kun den specifikke side, hvor der er underline og lysere grøn på.*/
.cases-html .nav-link:link,
.cases-html .nav-link:visited {
  text-decoration: underline;
  color: #e0218a;
}

.fys-case-html .fys-link:link,
.fys-case-html .fys-link:visited {
  text-decoration: underline;
  color: #e0218a;
}
.dyre-case-html .dyre-link:link,
.dyre-case-html .dyre-link:visited {
  text-decoration: underline;
  color: #e0218a;
}
.food-case-html .food-link:link,
.food-case-html .food-link:visited {
  text-decoration: underline;
  color: #e0218a;
}

.food-case-html .section-about-cases {
  margin-top: 10rem;
}
.logo {
  height: 4rem;
  transition: all 0.6s;
}
.logo:hover {
  transform: scale(1.05);
  cursor: pointer;
}
/***********************************************/
/*NAVIGATION*/
/***********************************************/
.nav {
  height: 3.2rem;
  z-index: 2;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 6rem;
  align-items: center;
  padding-top: 2px;
  margin-right: 12rem;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e0218a;
  font-weight: 800;
  font-size: 1.8rem;
  transition: color 0.3s, text-decoration 0.6s ease;
}
.nav-link:hover,
.nav-link:active {
  text-decoration: underline;
  color: #ed5c9b;
  font-weight: 900;
}

/***********************************************/
/*MOBILE*/
/***********************************************/
.button-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  font-size: 3.2rem;
  color: #333;
}
/* .fa-xmark {
  display: none;
} */

/***********************************************/
/*HERO SECTION*/
/***********************************************/

.hero-img {
  width: 100%;
}
.section-hero {
  background: linear-gradient(to right, #3ab19b, #4cbf91);
  padding: 6.8rem 0 5.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.hero h1 {
  color: #11232a;
  font-size: 4.8rem;
  line-height: 1.05;
  margin-bottom: 2.2rem;
  font-weight: 500;
  font-family: "Montserrat";
}

.hero-introduction {
  color: #11232a;
  font-family: "mukta malar";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 3.2rem;
}

/***********************************************/
/*SEKTION OM KOMPETENCER*/
/***********************************************/
.section-skills {
  padding: 2.8rem 0 3.2rem 0;
  color: #ebf7f5;
  text-align: center;
  margin-bottom: 0;
  background: linear-gradient(to right, #012f3a, #011c22);
  /* background: linear-gradient(to right, #0c231f, #0f261d); */
  /* background: linear-gradient(to right, #025e73, #024b5c); */
  /*background: #011f26;*/
}

.section-skills p {
  color: #ebf7f5;
  text-align: center;
}
.section-skills h2 {
  margin-bottom: 1.2rem !important;
  color: #ebf7f5;
  text-align: center;
}

.section-skills .container.grid.grid-3-columns {
  margin-top: 0 !important;
}

.section-skills .heading-secondary {
  margin-bottom: 4rem;
  color: #ebf7f5;
}

.container.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 2.6rem;
  /*overflow: hidden;*/
  transition: height 0.4s;
  z-index: 2;
  cursor: pointer;
}
.skill-card li {
  color: #ebf7f5;
}
.skill-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem; /* sætter ikon-størrelse */
  color: #ebf7f5;
  z-index: 2; /* ligger over billedet */
}
.skill-card .fa-users,
.fa-paintbrush,
.fa-wrench {
  margin-bottom: 2rem;
}
.skill-card .skill-card .skill-title {
  color: #ebf7f5;
}
.list-icon {
  color: #ebf7f5;
  font-size: 1.4rem;
}

.list-hidden {
  display: none !important;
}

.skill-card .expand-icon {
  cursor: pointer;
  color: #ebf7f5;
  margin-top: 8px;
  transition: transform 0.3s ease;
}

.expand-icon i {
  font-size: 2rem;
}
.skill-card:hover .expand-icon {
  transform: scale(1.2);
  color: #e0218a;
}

.list-hidden .expand-icon i.rotate {
  transform: rotate(360deg);
}

.list-item {
  text-align: left;
  font-size: 1.6rem;
  display: flex;
  gap: 0.1rem;
  margin-top: 1rem;
  font-family: "mukta malar";
}

.skill-title {
  margin-bottom: 1.8rem;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  color: #ebf7f5;
}

.skill-icon {
  width: 35%;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 2.2rem;
  margin-bottom: 1.2rem;
  /* margin-left: 11rem; */
}
.skill-icon img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  animation: rotate 3s infinite;
  position: relative;
  z-index: 1;
}
.skill-icon:hover img {
  transform: rotate(360deg);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-card1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-card2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-card3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skill-card#card1 .skill-icon img {
  animation: rotate-card1 4s infinite;
  padding: 3px;
}

.skill-card#card2 .skill-icon img {
  animation: rotate-card2 6s infinite;
  padding: 3px;
}

.skill-card#card3 .skill-icon img {
  animation: rotate-card3 8s infinite;
  padding: 3px;
}
.skill-tilte :hover {
  color: #e0218a;
  padding: 3px;
}

/***********************************************/
/*Focused cases på forside*/
/***********************************************/
.section-about-cases {
  margin: 5rem 0 5rem 0;
  padding: 2.8rem 0 6.2rem 0;
  background: linear-gradient(to right, #3ab19b, #4cbf91);
}
.container.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.case-card {
  position: relative;
  background-color: #e7e9ea;
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 2.4rem 3.8rem rgb(72, 72, 72);
  overflow: hidden;
  transition: all 0.4s;
  margin-bottom: 5rem;
  text-decoration: none;
}
/*ekstra layer foran .case-card-elementet.*/
.case-card::before {
  /*Tomt indhold "", men det er nødvendigt for pseudo-elementet*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 115, 62, 0);
  /* Starter med 100% opacity på den grønne farve */
  transition: background-color 0.4s ease;
}

.case-card:hover::before {
  background-color: rgba(
    255,
    0,
    170,
    0.3
  ); /* 0.5 Giver 50% opacity kun på den mørke farve ved hover */
}
.case-card:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: #e7e9ea;
}
.section-about-cases p {
  color: #11232a;
}

.section-about-cases h4 {
  color: #11232a;
  margin-top: 5rem;
  text-decoration: none;
}
.section-about-cases,
h2 {
  text-align: left;
  margin-bottom: 5rem;
}

.cases-presentation {
  text-align: left;
  margin: 2rem;
}

.case-img {
  width: 45%;
}

.case-item p {
  margin-top: 1rem;
}
.short-case-text {
  text-align: left;
  margin-top: 1rem;
  margin-left: 3rem;
}
/***********************************************/
/*SE OGSÅ CASES*/
/***********************************************/
.about-other-cases {
  margin-bottom: 0;
  margin-top: -10rem;
  padding-bottom: 12rem;
}
.fys-case-html .section-quote {
  margin-top: -10rem;
}

/***********************************************/
/*OM MIG SEKTIONEN*/
/***********************************************/
.section-about-me {
  padding: 2rem 3rem;
  margin-bottom: 1rem;
  margin-top: 0;
  z-index: -1;
  position: relative;
  background: linear-gradient(to right, #025e73, #024b5c);
  padding: 4.8rem 0 10.6rem 0;
}

.section-about-me p,
.section-about-me h1,
.section-about-me h2,
.section-about-me h3,
.section-about-me h4,
.section-about-me h5,
.section-about-me i {
  color: #ebf7f5;
}

.section-about-me h3 {
  text-align: center;
}

.about-box {
  margin-top: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ebf7f5;
}
.about-box h5,
.about-box p {
  line-height: 1.6;
  color: #ebf7f5;
}
.about-box::before,
.about-box::after {
  /*Der skal ikke være indhold i boksen*/
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  /*Placering i midten af den anden box*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-box::before {
  width: 85%;
  padding-bottom: 85%;
  background-color: #4cbf91;
  z-index: 1;
  opacity: 30%;
}
.about-box::after {
  width: 70%;
  padding-bottom: 70%;
  background-color: #3ab19b;
  z-index: 2;
  opacity: 30%;
}

.about-quotes {
  font-size: 1.8rem;
  line-height: 1.2;
  font-style: italic;
  text-align: left;
  font-weight: 400;
  margin-left: 2rem;
  color: #ebf7f5;
}
.about-quotes h3 {
  font-style: normal;
  color: #ebf7f5;
}

.fa-quote-right {
  font-size: 3rem;
  margin-left: 0.5rem;
  color: #ebf7f5;
}
.fa-quote-left {
  font-size: 3rem;
  margin-right: 1rem;
  color: #ebf7f5;
}

/***********************************************
Animationer 
***********************************************/

/*KILDE: disse keyframes er lavet med inspiration fra 2. semester projektet "Aalborg Smerte- og sportsklinik, (styles.css, linje 1885-1918 */
.animate-from-top {
  /* Udløser en fade-in-animation, der varer 1 sekund. */
  animation: fadeIn 1s;
}
/* Starter med opacity 0, bevæger sig op med 20% af sin højde og Slutter synligt med opacity 100 på den endelige position. */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-animation {
  /* transition tager 0,5 sekunder. */
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-in-animation.active {
  /*bliver synligt og vender tilbage til sin normale position*/
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.8s, opacity 0.8s;
}
/*ændring, så det ikke transformerer på mindre skærm*/
@media (max-width: 500px) {
  .fade-in-animation {
    opacity: 1;
    transform: none;
  }
  .fade-in-animation.active {
    transform: none;
  }
}

/***********************************************/
/*CASES SIDEN*/
/***********************************************/
.section-cases {
  padding: 3.2rem 0 3.2rem 0;
  color: #11232a;
  max-width: 120rem;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 12rem;
  text-align: center;
}
.section-cases .container {
  padding-left: 0;
  margin-left: 0;
}

.section-cases h3 {
  margin-left: 2rem;
  text-align: left;
}

.section-cases h2 {
  margin-top: -2rem;
  margin-bottom: -2rem;
}
.section-cases p {
  text-align: left;
}

.section-cases .text-left {
  text-align: left;
  padding: 2rem;
  margin-bottom: 1rem;
}
.section-cases h1 {
  padding: 5.6rem 0 3.2rem 0;
  color: #11232a;
  text-align: center;
  margin-bottom: 7rem;
}

.section-cases .section-skills .chevron-icon-container {
  text-align: center;
  position: relative;
  margin-top: 10rem;
  grid-column: span 2;
}

.section-cases .chevron-icon {
  position: absolute;
  left: 105%;
  transform: translateX(-50%);
  margin-bottom: 5rem;
}

.case-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin: 2rem;
}
.case-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.case-img-box {
  cursor: zoom-in;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15rem;
}

.case-img-box::before,
.case-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.case-img-box::before {
  width: 105%;
  padding-bottom: 105%;
  background-color: #29393f;
  z-index: -2;
  opacity: 10%;
}
.case-img-box::after {
  width: 85%;
  padding-bottom: 85%;
  background-color: #414f55;
  z-index: -1;
  opacity: 10%;
}
.case-img {
  width: 100%;
  transition: transform 0.5s ease;
}
.case-img:hover {
  cursor: zoom-in;
  transform: scale(1.03);
}
.case-img-box.clicked img {
  transform: scale(2);
  /* Glidende tranformation */
  transition: transform 0.5s ease;
  cursor: zoom-out;
}

/***********************************************
FØR FOOTER SECTION
***********************************************/
.logo-column {
  text-align: left;
}
.quote-column {
  text-align: center;
}
.image-column {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.section-quote p {
  color: #ebf7f5;
}

.section-quote {
  position: relative;
  background: linear-gradient(to right, #012f3a, #011c22);
  color: #ebf7f5;
  border-bottom: 1px solid #444;
  text-align: center;
  font-style: italic;
  padding: 1rem 3rem;
  margin: 0;
  margin-top: 0rem;
  font-size: 3rem;
}

.section-quote .logo {
  margin-top: 5rem;
  margin-left: 5rem;
}
.quote {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-top: 5rem;
  color: #e7e9ea;
}
.me-img {
  width: 25%;
  bottom: 0;
  margin-bottom: -1rem;
  margin-right: 5rem;
}
.section-cases h2 {
  margin-bottom: 2rem;
}
.section-about-cases h2 {
  text-align: center;
}
/***********************************************
FOOTER 
***********************************************/
.footer {
  padding: 10rem 3rem;
  background: linear-gradient(to right, #012f3a, #011c22);
  /* background: linear-gradient(to right, #025e73, #024b5c); */
  margin: 0;
  color: #ebf7f5;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
}

.footer-nav {
  list-style: none;
  grid-column: 1 / 2;
  justify-self: start;
  font-size: 1.4rem;
  color: #ebf7f5;
}

.footer-button-container {
  grid-column: 2 / 3;
  color: #ebf7f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-contact {
  grid-column: 3 / 4;
  justify-self: end;
  color: #ebf7f5;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
  margin-top: 4rem;
  margin-right: 4rem;
}

.footer-list {
  padding: 0;
  margin-left: 4rem;
  list-style: none;
  font-size: 1.2rem;
  color: #ebf7f5;
  text-align: left;
  margin-top: 4rem;
}

.footer-item {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: #ebf7f5;
  list-style: none;
}

.footer-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
  color: #ebf7f5;
  text-align: left;
  margin-top: 1.6rem;
}

.footer-link:link,
.footer-link:visited {
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s ease;
}
.footer-link:hover,
.footer-link:active {
  text-decoration: none;
  color: #e0218a;
}
.fa-envelope,
.fa-phone,
.fa-thumbtack,
.fa-linkedin {
  font-size: 1.8rem;
  margin-right: 0.8rem;
}

.e-mail {
  font-size: 2rem;
  color: #11232a;
  text-decoration: none;
}
.footer-copyright {
  font-size: 1.4rem;
  color: #ebf7f5;
  text-align: center;
  margin-top: 4rem;
  line-height: 2;
}
